### Python template
#
_pycache_/
# игнорирует папку _pycache_
*.py[cod]
# игнорирует файлы с расширением, которое начинается на .pyc, pyo, pyd
# (* - 0 или более любых символов)
# (в [] указывается любой сивол из последовательности)

docker-compose.yaml
# игнорирует файл docker-compose.yaml

log/
### игнорирует папку log

##folder/filename
